.App h3{
    text-align: center;
    background-color: wheat;
    padding: 10px;
    font-size: larger;
    padding-bottom: 30px;
}
.form{
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}
.cards{
    max-width: 600px;
    margin: auto;
}
.card{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}